* {
  margin: 0px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}

p {
  transition: color, 400ms;
}

#noCharacters {
  color: black;
}

#overLimit {
  color: red;
}

#validCharacterLimit {
  color: blue;
}
