* {
  margin: 0px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  box-sizing: border-box;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}

p {
  transition: color 400ms;
  writing-mode: sideways-rl;
  text-orientation: upright;
  width: 50%;
}

#noCharacters {
  color: black;
}

#overLimit {
  color: red;
}

#validCharacterLimit {
  color: blue;
}

input {
  width: 200px;
  border: 1px solid rgb(218, 218, 218);
  border-radius: 30px;
  margin-bottom: 20px;
  padding: 20px;
}
